@tailwind base;
@tailwind components;
@tailwind utilities;

*,::after,::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@layer base{
    body{
        background-color : #212121;
        color : white;
        position: relative;
    }

}
@layer components{
    .header{
        @apply flex  bg-cd800 h-[5rem] items-center justify-between border-b-[0.005rem] border-cd700 w-full
    }
    .avatar-big{
        @apply w-[10rem] h-[10rem] rounded-full
    }
    .container-setting-contact-info li {
        @apply cursor-pointer hover:text-main flex gap-4 items-center 
    }

}   

@layer utilities{
    .transition-shortcut-slow{
        @apply transition-all duration-1000 ease-in-out
    }
    .transition-shortcut-fast{
        @apply transition-all ease-in-out
    }
    .container{
        @apply mx-auto max-w-[1500px] h-screen bg-cd800 border-gray-800 border-[0.005rem] flex
    }
    .scrollbar-hidden {
        -ms-overflow-style: none;
        scrollbar-width: none; /* Firefox */
    }
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }
    ::-webkit-scrollbar{
        @apply w-1 h-1
    }
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #a5acb8;
        border-radius: 10px;
        background:white;
    }
    ::-webkit-scrollbar-thumb {
        @apply rounded-lg bg-cd600
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-cd500
    }
    .small-text{
        @apply text-[0.8rem] font-thin mt-2 text-cd500
    }
    .change-profile:hover::before{
        content : "Change Profile";
        background-color:rgba(0,0,0,0.7);;
        position: absolute;
        top:0;
        left:0;
        display:flex;
        justify-content:center;
        align-items:center;
        font-weight : 600;
        border-radius: 50%;
        width: 100%;
        height:100%;
        cursor: pointer;
        border:1px solid white;
    }


}

/* ---------------------Remove autofill background-------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}
/*------------------------Input auth shake while input invalid and empty-------------------------*/
.input-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    border : 1px solid #881337;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-10px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(10px, 0, 0);
    }
  }